[submodule "backend"]
	path = backend
	url = https://github.com/NurmukhamedKZ/Blunder-Therapist-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/NurmukhamedKZ/Blunder-Therapist-Frontend.git
